@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

/*Formulario*/
.form {
    width: 100%;
    margin-top: 5rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: center;

    @include m.telefono {
        margin-bottom: 2rem;
        flex-direction: row;
        align-items: center;
    }

    label {
        margin-bottom: 3rem;

        @include m.telefono {
            margin-bottom: 0;
            flex: 0 0 10rem;
        }

    }

    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
        min-width: 22rem;

        &:disabled {
            background-color: color.adjust(v.$negro, $lightness: 25%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}